<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="Lab6ModernProgrammingTechnologies.Services.DirectoryService" behaviorConfiguration="MyServiceBehavior">
				<!-- Define the service endpoint -->
				<endpoint address="" binding="basicHttpBinding" contract="Lab6Interfaces.IDirectoryService" />
				<!-- Metadata endpoint -->
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="MyServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
